


.header {
    background-color: #282827;
    min-height: 50px;
    color: white;
    padding-left: 10%;
    padding-right: 10%;

    display: flex;
    align-items: center;
}
.header_2{
    background-color: #ececeb;
    color: #282827;
}
.aparece{
    display:none;
}
#apareceComm1{
    display:none;
}
.apareceComm2{
    display:none;
}
.btn2{
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    font-size: medium;
}
#search{
    padding-left: 25%;
}

#header-container{
    display: flex;
    align-items: center;
}

.askForm{
    border-style: none;
}

.wrap_0{
    background-color: #f8f8f7;
    width: 100%;
    height:100%;
    min-height: 600px;
}

.wrap{
    margin-left: 10%;
    margin-right: 10%;
}

.footer{
    background-color: #282827;
    padding-left: 10%;
    padding-right: 10%;
    font-family: 'Montserrat', sans-serif;
}

h4{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}

hr.style-one {
     border: 0;
     height: 1px;
     background: #333;
     background-image: linear-gradient(to right, #ccc, #333, #ccc);
 }

hr.style-two {
    border: 0;
    height: 2px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}


.perg-titulo{
    font-weight: bold;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}

.perg-user{
    font-style: italic;
}

.perg-data{
    font-size: 11px;
}

.perg-conteudo{
    font-size: 15px;
    font-family: 'Lato';
    font-weight: 700;
}
a.perg-comment{
    color: #e94735;
    font-family: 'Montserrat', sans-serif;
}

a:hover.perg-comment{
    color: #282827;
}

.tag-style{
    background-color: #282827;
    color: white;
    margin-top: 11px;
    padding-left: 5px;
    padding-right: 5px;
    white-space: nowrap;
}

.avatar{
    width: 75px;
    height: 75px;
}

#wrap-answers{
    margin-top: 40px;
}

h3{
    font-family: 'Montserrat', sans-serif;
}


.stylish-input-group .input-group-addon{
    background: white !important;
}
.stylish-input-group .form-control{
    border-right:0;
    box-shadow:0 0 0;
    border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}

.caixaPerg {
    background-color: #282827;
    color: white;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

a{
    color: #282827;
}

a:hover{
    color: #e94735;
    text-decoration: none;
}

i{
    color: white;
}

i:hover {
    color: #e94735;
}