


.header {
    background-color: #282827;
    min-height: 50px;
    color: white;
    padding-left: 10%;
    padding-right: 10%;

    display: flex;
    align-items: center;
}
.header_2{
    background-color: #ececeb;
    color: #282827;
}
.aparece{
    display:none;
}
.btn2{
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    font-size: medium;
}
#search{
    padding-left: 25%;
}

#header-container{
    display: flex;
    align-items: center;
}

.askForm{
    border-style: none;
}

.wrap_0{
    background-color: #f8f8f7;
    width: 100%;
    height:100%;
    min-height: 600px;
}

.wrap{
    margin-left: 10%;
    margin-right: 10%;
}

.footer{
    background-color: #282827;
    padding-left: 10%;
    padding-right: 10%;
    font-family: 'Montserrat', sans-serif;
}

h4{
    font-family: 'Montserrat', sans-serif;
}

hr.style-one {
     border: 0;
     height: 1px;
     background: #333;
     background-image: linear-gradient(to right, #ccc, #333, #ccc);
 }

hr.style-two {
    border: 0;
    height: 2px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}


.perg-titulo{
    font-weight: bold;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}

.perg-user{
    font-style: italic;
}


.stylish-input-group .input-group-addon{
    background: white !important;
}
.stylish-input-group .form-control{
    border-right:0;
    box-shadow:0 0 0;
    border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}